{% extends "base.html" %}

{% block content %}
<h1>Задание 4</h1>
<ul>
    <li>Создайте форму регистрации пользователя с использованием Flask-WTF.</li>
    <li>Форма должна содержать следующие поля:</li>
    <li>- Имя пользователя (обязательное поле);</li>
    <li>- Электронная почта (обязательное поле, с валидацией на корректность ввода email);</li>
    <li>- Пароль (обязательное поле, с валидацией на минимальную длину пароля);</li>
    <li>- Подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем).</li>
    <li>После отправки формы данные должны сохраняться в базе данных</li>
    <li>(можно использовать SQLite) и выводиться сообщение об успешной регистрации.</li>
    <li>Если какое-то из обязательных полей не заполнено или данные не прошли валидацию,</li>
    <li>то должно выводиться соответствующее сообщение об ошибке.</li>
    <li>Дополнительно:</li>
    <li>- добавьте проверку на уникальность имени пользователя и электронной почты в базе данных;</li>
    <li>- если такой пользователь уже зарегистрирован, то должно выводиться сообщение об ошибке.</li>
</ul>
{% endblock content %}
